.my-bg-photo {
    background: url('images/photo_2021-08-15_14-34-33.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
  }
  
  .my-bg-photo * {
    position: relative;
    z-index: 10;
  }
  
  .my-bg-photo:before {
    content: " ";
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: .65;
  }
  
  .my-custom-container {
    max-width: 800px;
  }
  
  .accordion .btn-link:focus {
    box-shadow: none;
  }

/* drawing animation
  .my-drawing {
    transition: all .33s ease-out;
  }
  
  .my-drawing:hover {
    transform: scale(1.054) rotate(15deg);
  }
*/

/*my code here*/
.img-thumbnail{
  border-radius: .25rem;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
 }

 .carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.contact{
  text-align: center;
}

